// @import '../temp/sprite/ics-marvel.scss';
@import '~../temp/icon/sprite/ics-marvel.scss';
@import '~../temp/icon/sprite/ics-avengers.scss';

body {
  padding: 0;
  margin: 10px;
}

.loading {
  position: fixed;
  background: #ffa;
  width: 100%;
  height: 100%;
}
